<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>UNICMS Home page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h2>Welcome to the United Nations Individual Consultants Management System</h2>
        <br>As the United Nations’ development network, UNDP connects countries to global knowledge, experience and resources and assists them in strengthening capacity to create their own solutions to development challenges. Visit <a href="http://open.undp.org">open.undp.org</a> to view detailed information on the UNDP’s 6,000+ development projects in 177 countries and territories worldwide.</br>

        <br>UNICMS is an online database driven website that will capture detailed information relating to individual consultants who wish to interact with United Nations agencies in a professional capacity. This website will allow consultants to create, modify and manage their business profiles, as well as allow them to apply for contracts/projects being offered by UN agencies. Consultants will have access to their detailed profile, and may see general public information on all other Consultants.</br>

        <h4>Please review the links below to learn more</h4>
        <p>
            <!-- <a class="btn btn-primary" href="#" role="button">About UNICMS</a> -->
            <a class="btn btn-primary" href="#" role="button">Doing Business with the UN</a>
            <a class="btn btn-primary" href="https://etendering.partneragencies.org/" role="button">e-Tendering</a>
            <a class="btn btn-primary" href="https://www.jm.undp.org/" role="button">UNDP in Jamaica</a>
        </p>
    </div>
</div>
</body>
</html>