<!DOCTYPE html>
<!--[if IE 8]>			<html class="ie ie8"> <![endif]-->
<!--[if IE 9]>			<html class="ie ie9"> <![endif]-->
<!--[if gt IE 9]><!-->	<html> <!--<![endif]-->
	<head>
		<meta charset="utf-8" />
		<title>Smarty - Multipurpose + Admin</title>
		<meta name="keywords" content="HTML5,CSS3,Template" />
		<meta name="description" content="" />
		<meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />

		<!-- mobile settings -->
		<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
		<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

		<!-- WEB FONTS : use %7C instead of | (pipe) -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />

		<!-- CORE CSS -->
		<link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
		
		<!-- THEME CSS -->
		<link href="assets/css/essentials.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/layout.css" rel="stylesheet" type="text/css" />
		<link id="css_dark_skin" href="assets/css/layout-dark.css" rel="stylesheet" type="text/css" title="dark" />

		<!-- PAGE LEVEL SCRIPTS -->
		<link href="assets/css/header-1.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/color_scheme/green.css" rel="stylesheet" type="text/css" id="color_scheme" />
	</head>

	<!--
		AVAILABLE BODY CLASSES:
		
		smoothscroll 			= create a browser smooth scroll
		enable-animation		= enable WOW animations

		bg-grey					= grey background
		grain-grey				= grey grain background
		grain-blue				= blue grain background
		grain-green				= green grain background
		grain-blue				= blue grain background
		grain-orange			= orange grain background
		grain-yellow			= yellow grain background
		
		boxed 					= boxed layout
		pattern1 ... patern11	= pattern background
		menu-vertical-hide		= hidden, open on click
		
		BACKGROUND IMAGE [together with .boxed class]
		data-background="assets/images/boxed_background/1.jpg"
	-->
	<body class="smoothscroll enable-animation boxed pattern10">

		<!-- SLIDE TOP -->
		<div id="slidetop">

			<div class="container">
				
				<div class="row">

					<div class="col-md-4">
						<h6><i class="icon-heart"></i> WHY SMARTY?</h6>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. </p>
					</div>

					<div class="col-md-4">
						<h6><i class="icon-attachment"></i> RECENTLY VISITED</h6>
						<ul class="list-unstyled">
							<li><a href="#"><i class="fa fa-angle-right"></i> Consectetur adipiscing elit amet</a></li>
							<li><a href="#"><i class="fa fa-angle-right"></i> This is a very long text, very very very very very very very very very very very very </a></li>
							<li><a href="#"><i class="fa fa-angle-right"></i> Lorem ipsum dolor sit amet</a></li>
							<li><a href="#"><i class="fa fa-angle-right"></i> Dolor sit amet,consectetur adipiscing elit amet</a></li>
							<li><a href="#"><i class="fa fa-angle-right"></i> Consectetur adipiscing elit amet,consectetur adipiscing elit</a></li>
						</ul>
					</div>

					<div class="col-md-4">
						<h6><i class="icon-envelope"></i> CONTACT INFO</h6>
						<ul class="list-unstyled">
							<li><b>Address:</b> PO Box 21132, Here Weare St, <br /> Melbourne, Vivas 2355 Australia</li>
							<li><b>Phone:</b> 1-800-565-2390</li>
							<li><b>Email:</b> <a href="mailto:support@yourname.com">support@yourname.com</a></li>
						</ul>
					</div>

				</div>

			</div>

			<a class="slidetop-toggle" href="#"><!-- toggle button --></a>

		</div>
		<!-- /SLIDE TOP -->


		<!-- wrapper -->
		<div id="wrapper">

			<!-- Top Bar -->
			<div id="topBar">
				<div class="container">

					<!-- right -->
					<ul class="top-links list-inline pull-right">
						<li><a href="/login">LOGIN</a></li>
						<li><a href="/register">REGISTER</a></li>
					</ul>

					<!-- left -->
					<ul class="top-links list-inline">
						<li><a href="/">UNICMS</a></li>
						<li>
							<a class="dropdown-toggle no-text-underline" data-toggle="dropdown" href="#"><img class="flag-lang" src="assets/images/flags/us.png" width="16" height="11" alt="lang" /> ENGLISH</a>
							<ul class="dropdown-langs dropdown-menu">
								<li><a tabindex="-1" href="#"><img class="flag-lang" src="assets/images/flags/us.png" width="16" height="11" alt="lang" /> ENGLISH</a></li>
								<li class="divider"></li>
								<li><a tabindex="-1" href="#"><img class="flag-lang" src="assets/images/flags/de.png" width="16" height="11" alt="lang" /> GERMAN</a></li>
								<li><a tabindex="-1" href="#"><img class="flag-lang" src="assets/images/flags/ru.png" width="16" height="11" alt="lang" /> RUSSIAN</a></li>
								<li><a tabindex="-1" href="#"><img class="flag-lang" src="assets/images/flags/it.png" width="16" height="11" alt="lang" /> ITALIAN</a></li>
							</ul>
						</li>
					</ul>

				</div>
			</div>
			<!-- /Top Bar -->






			<!-- 
				PAGE HEADER 
				
				CLASSES:
					.page-header-xs	= 20px margins
					.page-header-md	= 50px margins
					.page-header-lg	= 80px margins
					.page-header-xlg= 130px margins
					.dark			= dark page header

					.shadow-before-1 	= shadow 1 header top
					.shadow-after-1 	= shadow 1 header bottom
					.shadow-before-2 	= shadow 2 header top
					.shadow-after-2 	= shadow 2 header bottom
					.shadow-before-3 	= shadow 3 header top
					.shadow-after-3 	= shadow 3 header bottom
			-->
			<section class="page-header page-header-xs">
				<div class="container">

					<h1>LOGIN</h1>

					<!-- breadcrumbs -->
					<ol class="breadcrumb">
						<li><a href="#">Home</a></li>
						<li><a href="#">Pages</a></li>
						<li class="active">Login</li>
					</ol><!-- /breadcrumbs -->

				</div>
			</section>
			<!-- /PAGE HEADER -->




			<!-- -->
			<section>
				<div class="container">

					<div class="row">

						<!-- Account details -->
						<div class="col-xs-12 col-sm-4 col-md-4">


							<div class="box-static box-transparent box-bordered padding-30">

								<div class="box-title margin-bottom-30">
									<h2 class="size-20">Account Details</h2>
								</div>

								<form class="nomargin sky-form" action="#" method="post" enctype="multipart/form-data">
									<fieldset>

										<div class="row">
											<div class="form-group">

												<div class="col-xs-12 col-md-12 col-sm-12">
													<label>Username *</label>
													<label class="input margin-bottom-10">
														<i class="ico-append fa fa-user"></i>
														<input required="" type="text"/>
														<b class="tooltip tooltip-bottom-right">Your First Name</b>
													</label>
												</div>

												<div class="col-xs 12 col-md-12 col-sm-12">
													<label for="register:pass1">Password *</label>
													<label class="input margin-bottom-10">
														<i class="ico-append fa fa-lock"></i>
														<input required="" type="password" class="err"/>
														<b class="tooltip tooltip-bottom-right">Min. 6 characters</b>
													</label>
												</div>

												<div class="col-xs-12 col-md-12 col-sm-12">
													<label for="register:pass2">Password Again *</label>
													<label class="input margin-bottom-10">
														<i class="ico-append fa fa-lock"></i>
														<input required="" type="password" class="err"/>
														<b class="tooltip tooltip-bottom-right">Type the password again</b>
													</label>
												</div>

											</div>
										</div>

									</fieldset>
									<div class="box-title margin-bottom-20">
										<h2 class="size-20">Professional Details</h2>
									</div>

									<fieldset>


														<div class="col-xs 12 col-md-12 col-sm-12">
															<label>Category *</label>
															<select name="profession[category]" class="form-control pointer required">
																<option value="">--- Select ---</option>
																<option value="Administrative and Logistics">Administrative and Logistics</option>
																<option value="Technology">Technology</option>
															</select>
														</div>



														<div class="col-xs 12 col-md-12 col-sm-12">
															<label>Sub category *</label>
															<select name="profession[category]" class="form-control pointer required">
																<option value="">--- Select ---</option>
																<option value="Administrative and Logistics">Administrative and Logistics</option>
																<option value="Technology">Technology</option>
															</select>
														</div>




									</fieldset>
								</form>
							</div>

						</div>
						<!-- Account details -->


						<!-- Personal Details -->
						<div class="col-xs-12 col-sm-4 col-md-4">


							<div class="box-static box-transparent box-bordered padding-30">

								<div class="box-title margin-bottom-30">
									<h2 class="size-20">Personal details</h2>
								</div>

								<form class="nomargin sky-form" action="#" method="post" enctype="multipart/form-data">
									<fieldset>




														<div class="col-xs-12 col-md-12 col-sm-12">
															<label>Title *</label>
															<select name="profession[category]" class="form-control pointer required">
																<option value="">Select your title</option>
																<option value="Mr">Mr</option>
																<option value="Mrs">Mrs</option>
															</select>
														</div>






											<div class="col-xs-12 col-md-12 col-sm-12">
													<label for="register:first_name">First Name *</label>
													<label class="input margin-bottom-10">
														<i class="ico-append fa fa-user"></i>
														<input required="" type="text"/>
														<b class="tooltip tooltip-bottom-right">Your First Name</b>
													</label>
											</div>



											<div class="col-xs-12 col-md-12 col-sm-12">
												<label for="register:last_name">Last Name *</label>
												<label class="input margin-bottom-10">
													<i class="ico-append fa fa-user"></i>
													<input required="" type="text"/>
													<b class="tooltip tooltip-bottom-right">Your Last Name</b>
												</label>
											</div>



											<div class="col-xs-12 col-md-12 col-sm-12">
												<label for="register:middle_name">Middle Name *</label>
												<label class="input margin-bottom-10">
													<i class="ico-append fa fa-user"></i>
													<input required="" type="text"/>
													<b class="tooltip tooltip-bottom-right">Your Last Name</b>
												</label>
											</div>





														<div class="col-xs-12 col-md-12 col-sm-12">
															<label>Type of Business *</label>
															<select name="profession[category]" class="form-control pointer required">
																<option value="">Select Business type</option>
																<option value="Consulting">Consulting</option>
																<option value="Technology">Technology</option>
															</select>
														</div>




											<div class="col-xs-12 col-md-12 col-sm-12">
												<label for="register:address">Address</label>
												<label class="input margin-bottom-10">
													<i class="ico-append fa fa-user"></i>
													<input required="" type="text"/>
													<b class="tooltip tooltip-bottom-right">Your company address</b>
												</label>
											</div>


											<div class="col-xs-12 col-md-12 col-sm-12">
												<label for="register:address2">Address 2</label>
												<label class="input margin-bottom-10">
													<i class="ico-append fa fa-user"></i>
													<input required="" type="text"/>
													<b class="tooltip tooltip-bottom-right">Your alternative address</b>
												</label>
											</div>
										<hr />
									</fieldset>
								</form>
							</div>

						</div>
						<!-- Personal Details -->

						<!-- Contact Details -->
						<div class="col-xs-12 col-sm-4 col-md-4">


							<div class="box-static box-transparent box-bordered padding-30">

								<div class="box-title margin-bottom-30">
									<h2 class="size-20">Contact details</h2>
								</div>

								<form class="nomargin sky-form" action="#" method="post" enctype="multipart/form-data">
									<fieldset>




										<div class="col-xs-12 col-md-12 col-sm-12">
											<label for="register:first_name">Email *</label>
											<label class="input margin-bottom-10">
												<i class="ico-append fa fa-user"></i>
												<input required="" type="text"/>
												<b class="tooltip tooltip-bottom-right">Your email address</b>
											</label>
										</div>

										<div class="col-xs-12 col-md-12 col-sm-12">
											<label for="register:first_name">Mobile No.</label>
											<label class="input margin-bottom-10">
												<i class="ico-append fa fa-user"></i>
												<input required="" type="text"/>
												<b class="tooltip tooltip-bottom-right">Your Mobile Number</b>
											</label>
										</div>



										<div class="col-xs-12 col-md-12 col-sm-12">
											<label for="register:last_name">Landline No.</label>
											<label class="input margin-bottom-10">
												<i class="ico-append fa fa-user"></i>
												<input required="" type="text"/>
												<b class="tooltip tooltip-bottom-right">Your Landline</b>
											</label>
										</div>



										<div class="col-xs-12 col-md-12 col-sm-12">
											<label for="register:middle_name">Fax no.</label>
											<label class="input margin-bottom-10">
												<i class="ico-append fa fa-user"></i>
												<input required="" type="text"/>
												<b class="tooltip tooltip-bottom-right">Your Fax No.</b>
											</label>
										</div>

										<div class="col-xs-12 col-md-12 col-sm-12">
											<label for="form-city">City</label>
											<label class="input margin-bottom-10">
												<i class="ico-append fa fa-user"></i>
												<input required="" type="text"/>
												<b class="tooltip tooltip-bottom-right">Your city.</b>
											</label>
										</div>


										<div class="col-xs-12 col-md-12 col-sm-12">
											<label for="form">State/Parish</label>
											<label class="input margin-bottom-10">
												<i class="ico-append fa fa-user"></i>
												<input required="" type="text"/>
												<b class="tooltip tooltip-bottom-right">Your state</b>
											</label>
										</div>

										<div class="col-xs-12 col-md-12 col-sm-12">
											<label>Country</label>
											<select name="profession[category]" class="form-control pointer required">
												<option value="">Select Country</option>
												<option value="Consulting">US</option>
												<option value="Technology">UK</option>
											</select>
										</div>

										<hr />
									</fieldset>
								</form>

							</div>

						</div>
						<!-- Contact Details -->


					</div>
				</div>

				<div class="row">
					<div class="col-md-3 col-sm-6 col-xs-12 offset-md-3 ">
						<button type="submit" class="btn btn-3d btn-teal btn-xlg btn-block">
							SIGN UP
						</button>
					</div>
				</div>


			</section>
			<!-- / -->




			<!-- FOOTER -->
			<footer id="footer">

				<div class="copyright">
					<div class="container">
						<ul class="pull-right nomargin list-inline mobile-block">
							<li><a href="#">Terms &amp; Conditions</a></li>
							<li>&bull;</li>
							<li><a href="#">Privacy</a></li>
						</ul>
						&copy; All Rights Reserved, Company LTD
					</div>
				</div>
			</footer>
			<!-- /FOOTER -->

		</div>
		<!-- /wrapper -->


		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>


		<!-- PRELOADER -->
		<div id="preloader">
			<div class="inner">
				<span class="loader"></span>
			</div>
		</div><!-- /PRELOADER -->


		<!-- JAVASCRIPT FILES -->
		<script type="text/javascript">var plugin_path = 'assets/plugins/';</script>
		<script type="text/javascript" src="assets/plugins/jquery/jquery-2.2.3.min.js"></script>

		<script type="text/javascript" src="assets/js/scripts.js"></script>
		
		<!-- STYLESWITCHER - REMOVE -->
		<script async="async" type="text/javascript" src="assets/plugins/styleswitcher/styleswitcher.js"></script>

		<!-- PAGE LEVEL SCRIPTS -->
		<script type="text/javascript">

			/**
				Checkbox on "I agree" modal Clicked!
			**/
			jQuery("#terms-agree").click(function(){
				jQuery('#termsModal').modal('toggle');

				// Check Terms and Conditions checkbox if not already checked!
				if(!jQuery("#checked-agree").checked) {
					jQuery("input.checked-agree").prop('checked', true);
				}
				
			});
		</script>
	</body>
</html>